@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div data-grid-component class="container">
    <div class="row">
        <div class="col-12">
           <img :src="randomGifImg" alt="somthing"> 
        </div>
    </div>
</div>