@page
@model LaitModel
@{
    ViewData["Title"] = "Lait";
}

<div data-lait-component class="container">
    <div class="row">
     <div class="col-12 col-lg-4" v-for="card in listItems" :key="card.index">
        <card :item="card" :loading="loading"></card>
        </div
    </div>
</div>